/*mobile first approach  */
/*at larger screen card should be centered
webpage should look ok on small screen 320px and larger screens 1400px
first breakpoint will be around 800px
*/

@font-face {
  font-family: "Outfit";
  src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 1000;
}
@font-face {
  font-family: "young-serif";
  src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
}

/*------------------------------------------CSS RESET---------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*------------------------------------------CUSTOM VARIABLES---------------------------------- */
:root {
  --small-font: 1rem;
  --small-margin: 1rem;

  --white: #ffffff;
  --stone-100: #f3e6d8;
  --stone-150: #e4ded8;
  --stone-600: #5f574e;
  --stone-900: #302d2c;
  --brown-800: #854632;
  --rose-800: #7b284f;
  --rose-50: #fff5fa;
  --container-bg-color: #efe0ce;
}
/*------------------------------------------GENERAL STYLES------------------------------------------ */
body {
  font-size: 1rem;
}
h2.brown-font {
  font-family: "young-serif", sans-serif;
  color: var(--brown-800);
}

p,
li,
table {
  font-size: 0.8rem; /*paragraph,li,table text should be 16px on mobile */
}

img {
  width: 100%;
  object-fit: cover; /*maintain quality of image upon resize */

  margin-bottom: var(--small-margin);
}
ul,
ol,
table {
  /*on mobile the ul,ol and table are aligned, so i'll give them the same margin-left value */

  margin-left: 1rem;
}

/*creates space between the bullet points/the ordered list numbers and the text,
the bullet points and the order number will be positioned outside
the text should be pushed to the left via padding creating space between the bullet points/ordered numbers and the actual  text
*/
ol,
ul {
  list-style-position: outside;
}

ol li,
ul li {
  padding-left: 1em;
}

li {
  margin-top: var(--small-margin);
  color: var(--stone-600);

  font-family: "Outfit", sans-serif;
}

.light-bold {
  font-weight: 700; /*adds some boldness to the span ele
  without adding it to the rest of the li */
}

hr {
  margin: 1.5rem 0 1.5rem 1em; /*reason for em on the left is to make sure the hr and the section are aligned(see padding on card) */
  border-color: var(--stone-100); /*gives a color to the horizontal line */
}
/*------------------------------------------CONTAINER STYLES----------------------------------  */

/*------------------------------------------CARD STYLES----------------------------------  */
.card {
  /* border: 2px solid dodgerblue; */

  /*forgot to set the bg color for card earlier*/
  background-color: var(--white);
}

.card section {
  /*every section should have right/bottom/left padding */
  padding: 0 1em 1em 1em; /*on mobile there's no top padding, and the images touches the left and right edges of card */
}

/*-------------------------------------CARD INTRO SECTION STYLES---------------------------------- */
.intro-title {
  margin-bottom: var(--small-margin);
  font-family: "young-serif", sans-serif;
  font-weight: 500; /*reduce the default font-weight that is h1 ele */
  color: var(--stone-900);
}
.intro-info {
  font-family: "Outfit", sans-serif;
  color: var(--stone-600);
}

/*-------------------------------------CARD PREPARATION SECTION STYLES---------------------------------- */
.card__preparation-section.pink-bg {
  margin: 0 var(--small-margin) 1rem;
  background-color: var(--rose-50);
}
.preparation-title.pink-font {
  padding-top: 0.75em;
  font-family: "Outfit", sans-serif;
  color: var(--rose-800);
}
.card__preparation-section ul li::marker {
  /*makes the bullet points a pink  */
  color: var(--rose-800);
}
/*-------------------------------------CARD INGREDIENT SECTION STYLES---------------------------------- */
.card__ingredient-section ul li::marker {
  /*makes the bullet points pink  */
  color: var(--brown-800);
}

/*-------------------------------------CARD INSTRUCTION SECTION STYLES---------------------------------- */

.card__instruction-section ol li::marker {
  /*make the number for the ol brown */
  color: var(--brown-800);
  font-weight: 800; /*increase their weight to match design spec */
}

/*-------------------------------------CARD NUTRITION SECTION STYLES---------------------------------- */

.card__nutrition-section p {
  margin: var(--small-margin) 0;

  /*the outfit font family causes p text to wrap onto an extra line(instead of 2 lines i now have a third one)
  it increases the height of the paragraph from 36 to 60 thats why the paragraph wraps onto the next line
  */
  /* font-family: "Outfit", sans-serif; */

  color: var(--stone-600);
}

table {
  border-collapse: collapse; /*in order to actually see the border i'll set on the tr */

  /*when making table a 100% width, the second col of table is then pushed to the right */
  width: 100%;
}

table tr:not(:last-of-type) {
  /*apply styles to all tr except the last one*/

  border-bottom: 1px solid var(--stone-600);
}

table td {
  /*add space to each td, this creates space between rows*/
  padding: 1em 0;

  color: var(--stone-600); /*td first col  has lighter font */
}

table tr td + td {
  /*select the table cell that has a cell before it(to the left)
  these styles will only be applied to 2second col and will overwrite previous styles(second column has bold font)
  */

  font-family: "Outfit", sans-serif;
  color: var(--brown-800);
  font-weight: 700;
}

/*Attribution STYLES:(WON'T be centered on mobile) */

.attribution {
  padding-top: 1em;

  font-size: 13px;
  text-align: center;

  color: black;
}
.attribution a {
  color: black;
}
.attribution a:hover {
  opacity: 0.5;
}

/*-------------------------------------MEDIA QUERIES----------------------------------  */
/*FIRST BREAKPOINT AROUND 800PX */

@media screen and (min-width: 800px) {
  .container {
    padding-top: 3em; /*add some space inside of container  */
    background-color: var(--container-bg-color);

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    /*add padding inside of card  */
    padding: 1em;
  }
  .card {
    max-width: 700px;
    border-radius: 15px;
  }
  .card__image {
    padding: 1em 1em 0 1em;
    border-radius: 30px;
  }
  .intro-title {
    font-size: 1.9rem; /* the h1 should be bigger than the h2 */
  }

  .card__instruction-section li {
    max-width: 98%; /*added this cuz the li of instruction section are too close to the right edge */
  }
  .card__nutrition-section p {
    font-family: "Outfit", sans-serif; /*increased max-width of card now i can use this font on nutrition p */
  }
  .attribution {
    padding-bottom: 3em;
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    max-width: 900px;
  }
  .card p,
  .card li,
  table td {
    font-size: 0.9rem; /*increase font-size of paragraphs,li,and td from 16px to 18px on very large screens */
  }
}
